.product-quote-box {
  border: 1px solid $color-gray;
  display: flex;
  margin-bottom: $padding-large;
  padding: $padding-medium;
}

.product-quote-box-buy {
  text-align: right;
}

.product-quote-box-buy-premium {
  font-size: $font-size-large;
}

.product-quote-box-coverages {
  padding-top: $padding-medium;
}

.product-quote-box-index {
  align-self: center;
  font-size: $font-size-extra-large;
}

.product-quote-box-product {
  flex-grow: 1;
}

.product-quote-box-product-name {
  font-size: $font-size-medium;
  font-weight: bold;
}

.product-quote-box-separator {
  border-right: 1px solid $color-gray;
  margin: 0 $padding-medium;
}
