.coverage-options {
  .checkbox {
    margin-bottom: 15px;

    label {
      font-weight: normal;
      cursor: pointer;
    }
  }
}

.product-quote-box {
  margin-bottom: 20px;

  &.hidden {
    display: none;
  }
}
